<%- include('../partials/head.ejs') %>
<body>    
    <%- include('../partials/header') %>

    <main class="main-cart">
        <p1 class="empty-cart">Tu carrito está vacío</p1>

        <form class="form-login" action="/products/shop" method="GET">
            <div class="form-button">
                <button type="submit" class="send-button">Volver a la tienda</button>
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>