<%- include('./partials/head.ejs') %>
<body>    
    <%- include('./partials/header') %>

    <main class="main-404">
        <div class= "Error404">
            <h1 class= "title-Error404">OOOOPS!</h1>
            <img class= "img-Error404" src="/img/error_404.jpg" >
            <h2 class= "subtitle-Error404">Something went wrong</h2>
            <p class= "text-Error404">Error 404: we couldn't find the page you're looking for</p>
            
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>