
/* Estructura General */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* estructura del Body */

body {
background-image: url(../img/home.JPG);
background-attachment: scroll;
background-size: inherit;
}

/* estructura del main header */
.mainheader{
    Background-color:rgb(240, 238, 238);
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    width: 100vw;
}

.logohome{
    width: 40vw;
    padding: 5px;
    color: deeppink;
    align-self: flex-start;
}

.iconosmainheader{
align-self: center;
display: flex;
justify-content: space-around;
list-style: none;
text-decoration: none;
}

.iconosmainheader li{
    display: block;
    padding: 5px;
}

.iconosmainheader li i{
    width: 35vw;
    padding: 5px;
    color:deeppink;
    border: 2px solid deeppink;
    max-width: 35px;
    border-radius: 6px;
}
.iconosmainheader li a {
    color:deeppink;
    font-size: 0.75em;
    text-decoration: none;
    text-align: center; 
    display: block;
}

/* Estructura del Main header con las ofertas */

.secciónofertas{
    display: block;
    padding: 10vw;
    text-align: center;
}

.secciónofertas h1 {
    font-size: 18px;
    text-align: left;
    margin-top: 10vw;
    margin-bottom: 5vw;
    color: linen;
}

.productoenoferta{
    background-color: gainsboro;
    border-radius: 8px;
    box-shadow: 0px 0px 97px 0px rgba(20,120,153,1);
-webkit-box-shadow: 0px 0px 97px 0px rgba(20,120,153,1);
-moz-box-shadow: 0px 0px 97px 0px rgba(20,120,153,1);
margin: 5vw;
width: 90%;
}

.imgproductoenoferta{
    width: 100%;
    height: inherit;
    padding: 5vw;
    display: block;
    justify-content: center;
}

.productoenoferta i {
    width: 5%;
    color:rgb(122, 206, 202);

}

.productoenoferta ul{
    list-style: none;
    margin: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: justify;
    font-size: 16px;
    border-top: purple solid 1px;
}

.precioanterior{
    text-decoration: line-through;
}

.preciorebajado{
    font-size: 24px;
}
.descuentos{
    color:limegreen;
    font-size: 14px;
}
.logoenvio{
    color:lime;
    width: 20%;
    border-color: lime;
    border-radius: 50px;
}

/* Estructura Footer */

