/* Paleta de colores:
https://brittanychiang.com/
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1)

https://dineshbalaji.in/
    --color-primary: #f20a72;
    --color-primary-shade: #e6096c;
    --color-primary-tint: #ff2286;
    --color-primary-light: #ff6cae;
    --color-secondary: #e6db74;
    --color-secondary-shade: #cac166;
    --color-secondary-tint: #eee69e;
    --color-secondary-light: #f3fcd9;
    --color-secondary-text: #c5c2b8;
    --color-dark: #20252c;
    --color-dark-black: #191e23;
    --color-dark-shade: #1c2127;
    --color-dark-tint: #363b41;
    --color-dark-light: #63666b;
    --font-color: #fff;

MaNaDa:
 Azul: rgba(20,120,153,1)
 celeste: rgb(20, 161, 255)
 gris claro: ainsboro

/* Estructura General */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* estructura del Body */

body {
background-color: #0a192f;
background-attachment: scroll;
display: inline-block;
}

/* estructura del main header */

.mainheader{
    display: none;
}

/* estructura del main header MOBILE*/
.mainheader-mobile{
    background-color: #233554;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    width: 100vw;
}

.logohome{
    width: 40vw;
    padding: 5px;
    color: deeppink;
    align-self: flex-start;
}

.iconosmainheader{
align-self: center;
display: flex;
justify-content: space-around;
list-style: none;
text-decoration: none;
}

.iconosmainheader li{
    display: block;
    padding: 2vw;
    margin: 1vw;
}

.iconosmainheader li i{
    font-size: 5VW;
    padding: 2VW;
    color:#64ffda;
    border: 2px solid #64ffda;
    max-width: 35VW;
    border-radius: 6px;
}
.iconosmainheader li a {
    color:#64ffda;
    font-size: 3vw;
    text-decoration: none;
    text-align: center; 
    display: block;
    margin-top: 2vw;
}

/* Estructura del Main */

main {
    margin-top: 30%;
}

.seccinesproductos{
display: flex;
width: 100vw;
text-align: left;
flex-wrap: wrap;

}

.seccinesproductos h1{
    font-size: 5vw;
    color:wheat;
    background-color: #0a192f;
    margin-left: 2vw;
    margin-top: 0px;
}

.seccinesproductos article{
    margin: 0.5vw
}

.seccinesproductos article img{
    width: 49vw;
    height: 40vw;
}

/* Estructura Footer Mobile */

.redes {
    background-color: rgb(122, 206, 202);
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin-top: 1vw;
    }

    .redes i{
        width: 5px;
        font-size: 6vw;
        color: rgba(20,120,153,1);
    }

    