<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    
    <main>
        <form class="form-admin" action="/admin" method="POST">
            <h2>Agregar Nuevos Productos:</h2>

            <div class="admin-field">
                <label class="label-admin">Imágen del Producto:</label>
                <input class="admin-img" type="file" name="newProductImage" accept=".jpg .jpeg" multiple>
                <span></span>
            </div>

            <div class="admin-field">
                <input class="admin" type="text" name="newProductDescription" id="newProductDescription" placeholder="Descripción del producto">
                <span></span>
            </div>

            <div class="admin-field">
                <input class="admin" type="text" name="newProductPrice" id="newProductPrice" placeholder="Precio del Producto">
                <span></span>
            </div>

            <div class="form-button">
                <button type="submit" class="send-button">Enviar</button>
            </div>
        </form>

        <form class="form-admin" action="/admin/edit/0" method="GET">
            <h2>Editar Productos:</h2>

            <div class="form-button">
                <button type="submit" class="send-button">Ir</button>
            </div>
        </form>
    </main>

        <%- include('./partials/footer') %>
</body>
</html>