<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaNaDa</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles-1.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="news">
            <p>Envios gratis a todo el país</p>
        </div>

        <section class="main-header">
            <nav class="main-navbar">
                <ul type="none" class="nav-bar">
                    <li><a href="/products/shop" alt="Ver todo">Ver todo</a></li>
                    <li><a href="/products/shop" alt="Jinete">Jinete</a></li>
                    <li><a href="/products/shop" alt="Equipo y Accesorios">Equipo y Accesorios</a></li>
                    <li><a href="/products/shop" alt="Cuidados del Caballo">Cuidados del Caballo</a></li>
                    <li><a href="/products/shop" alt="Veterinaria">Veterinaria</a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <div class="login-register">
                <a href="/users/ingreso"><i class="far fa-heart"></i></a>
            </div>

            <div class="logo-conteiner">
                <a href="/">
                    <h1>Ma Na Da</h1>
                </a>
            </div>

            <div class="login-register">
                <a href="/users/registro"><i class="far fa-user"></i></a>
            </div>

            <div class="searchbar-desktop">
                <i class="fas fa-search"></i>
            </div>

            <div class="cart">
                <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>

        </section>

        <div class="div-searchbar">
            <form action="/" method="GET" class="form-searchbar">
                <input type="text" placeholder="¿Qué estás buscando?" class="search-bar"><i class="fas fa-search"></i>
            </form>
        </div>
    </header>

    <main>

        <div class="banner">
            <img src="./img/banner.jpg" alt="Banner" class="categories-banner">
        </div>

        <section class="category-maintext">
            <h1 class="categories">MA NA DA</h1>
            <p>
                Aquí estás y eres de los nuestros, no quieres las típicas vestimentas de polo, ni esos logotipos que
                usan en los clubes. Quieres lo mejor, pero tampoco quieres que te cobren 10 veces su valor Buscas
                artículos con personalidad propia, impactantes y que te definan.
            </p>
            <p>
                Pero no solo ofrecemos los mejores artículos para el jinete, sino que también podrás encontrar una alta
                gama de accesorios para que tu caballo sea el mejor del establo.
                Y no solo eso, sino que podrás encontrar toda la información de veterinaria equina que necesitas para
                elegir los mejores productos y servicios.
            </p>
        </section>

        <section class="category-section">
            <article class="category">
                <a href="/products/shop">
                    <img src="./img/jinete.jpg" alt="Jinete">
                    <img src="./img/jinete-hover.jpg" alt="Jinete" class="category-imghover">
                </a>
                <article class="category-description">
                    <p class="description">Jinete</p>
                </article>
            </article>

            <article class="category">
                <a href="/products/shop">
                    <img src="./img/accesorios.jpg" alt="Equipo y Accesorios">
                    <img src="./img/accesorios-hover.jpg" alt="Equipo y Accesorios" class="category-imghover">
                </a>
                <article class="category-description">
                    <p class="description">Equipo y Accesorios</p>
                </article>
            </article>

            <article class="category">
                <a href="/products/shop">
                    <img src="./img/cuidados.jpg" alt="Cuidados del caballo">
                    <img src="./img/cuidados-hover.jpg" alt="Cuidados del caballo" class="category-imghover">
                </a>
                <article class="category-description">
                    <p class="description">Cuidados del caballo</p>
                </article>
            </article>

            <article class="category">
                <a href="/products/shop">
                    <img src="./img/veterinario.jpg" alt="Veterinaria">
                    <img src="./img/veterinario-hover.jpg" alt="Veterinaria" class="category-imghover">
                </a>
                <article class="category-description">
                    <p class="description">Veterinaria</p>
                </article>
            </article>
        </section>

        <h1 class="deals-header">Oportunidades</h1>

        <section class="deals">
                <article class="dealproduct">
                    <img src="./img/montura.JPG">
                    <i class="far fa-star"></i>
                    <i class="fas fa-shopping-cart"></i>
                    <ul type="none">
                        <li class="description">Montura</li>
                        <li class="previous-price">$8.770</li>
                        <li class="actual-price">$6.770</li>
                        <li class="discount">40% OFF</li>
                        <li class="shipping-logo"><i class="fas fa-shipping-fast"></i></li>
                    </ul>
                </article>

                <article class="dealproduct">
                    <img src="./img/montura.JPG">
                    <i class="far fa-star"></i>
                    <i class="fas fa-shopping-cart"></i>
                    <ul type="none">
                        <li class="description">Montura</li>
                        <li class="previous-price">$8.770</li>
                        <li class="actual-price">$6.770</li>
                        <li class="discount">40% OFF</li>
                        <li class="shipping-logo"><i class="fas fa-shipping-fast"></i></li>
                    </ul>
                </article>

                <article class="dealproduct">
                    <img src="./img/cabezada.jpg">
                    <i class="far fa-star"></i>
                    <i class="fas fa-shopping-cart"></i>
                    <ul type="none">
                        <li class="description">Cabezada</li>
                        <li class="previous-price">$8.770</li>
                        <li class="actual-price">$6.770</li>
                        <li class="discount">40% OFF</li>
                        <li class="shipping-logo"><i class="fas fa-shipping-fast"></i></li>
                    </ul>
                </article>

                <article class="dealproduct">
                    <img src="./img/cabezada.jpg">
                    <i class="far fa-star"></i>
                    <i class="fas fa-shopping-cart"></i>
                    <ul type="none">
                        <li class="description">Cabezada</li>
                        <li class="previous-price">$8.770</li>
                        <li class="actual-price">$6.770</li>
                        <li class="discount">40% OFF</li>
                        <li class="shipping-logo"><i class="fas fa-shipping-fast"></i></li>
                    </ul>
                </article>
        </section>
    </main>

    <footer>
        <ul type="none">
            <section class="free-shipping">
                <i class="fas fa-shipping-fast"></i>
                <li>ENVÍO GRATIS A TODO EL PAÍS</li>
            </section>

            <section class="contact-us">
                <i class="fas fa-envelope"></i>
                <li>CONTACTANOS</li>
            </section>

            <section class="befenefits">
                <i class="fas fa-smile-wink"></i>
                <li>BENEFICIOS DE COMPRAR ONLINE</li>
            </section>

            <section class="find-store">
                <i class="fas fa-map-marked-alt"></i>
                <li>ENCONTRÁ TU TIENDA</li>
            </section>
        </ul>

        <div class="footer-media">
            <section class="footer-seo">
                <p>VIVÍ LA EQUITACIÓN COMO UN VERDADERO JINETE</p>
            </section>

            <form action="/" method="GET" class="footer-newsletter">
                <input type="text" placeholder="Email" class="newsletter">
                <button type="submit" class="footer-button">Suscribirse</button>
            </form>

            <section class="footer-socialmedia">
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            </section>

        </div>
        <section class="copyright">
            <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>