/*
*
* Admin: Index Page
*
*/

.admin-main {
    margin: 180px 0;
    width: 100%;
}

.admin-header {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 80px;
}

.admin-section {
    width: 80%;
    margin: auto;
    text-align: center;
}

.admin-section h2 {
    font-size: 1.4em;
    border-bottom: 1px black solid;
    margin: auto;
    max-width: 300px;
}

.admin-section ul {
    margin-top: 15px;
    margin-bottom: 55px;
}

.admin-section ul li {
    text-decoration: underline;
    margin: 15px 0;
}



/*
*
* Admin: Create & Edit Product
*
*/

.admin-products-main-mobile {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    padding: 180px 0;
}

.admin-editProduct-container {
    width: 90%;
    margin: auto;
}

.admin-editProduct-image {
    width: 40%;
    margin: auto;
}

.admin-editProduct-image img {
    width: 80%;
    margin: auto;
}

.admin-products-container {
    width: 100%;
    margin: auto;
}

.admin-products-form {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.admin-products-title {
    text-align: center;
    margin: auto;
    max-width: 560px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

.admin-products-field {
    max-width: 260px;
    width: 80%;
    margin: auto;
    position: relative;
}

.admin-products-label {
    display: inline-block;
    font-size: 0.8em;
    margin: 5px 0;
    font-weight: bold;
}

.admin-products-img {
    margin-top: 10px;
    margin-bottom: 7px;
    max-width: 240px;
}

.admin-products-form {
    width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 5px rgb(80, 100, 140);
    padding: 35px 0;
    margin-top: 20px;
}

.admin-products {
    width: 100%;
    border: none;
    border: 1px solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 0 5px 5px;
    background: rgba(255, 255, 255, 0.25);
}

::placeholder {
    color: black;
}

.admin-products-control select {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    padding: 3px 0 3px 3px;
}

.admin-products-control select option {
    color: black;
}

.admin-products-field-inSale {
    margin: 0 0 5px 5px;
}

.field-inSale {
    margin-bottom: 5px;
}

.admin-editProducts-buttons-div {
    width: 80%;
    margin: auto;
    text-align: center;
}

.admin-products-form-button {
    margin: auto;
    margin-top: 15px;
    width: 40%;
    max-width: 140px;
}

.admin-products-button {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    transition: all 450ms;
}


/*
*
* Admin: Edit Filter by Category
*        Products Page
*
*/

.admin-edit-filter-main {
    width: 90%;
    margin: auto;
    margin-top: 160px;
}

.admin-edit-filter-header {
    font-size: 1.1em;
    position: relative;
}

.admin-edit-filter-header i {
    margin-left: 5px;
    font-size: 1.3em;
    color: #0A2558;
}

.admin-filter-container {
    width: 95%;
    margin: auto;
}

.admin-search-filter {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.admin-filter-category {
    width: 100%;
    margin-right: 15px;
}

.admin-filter-category input, .admin-filter-category select {
    font-size: 1.1em;
    width: 100%;
    max-width: 180px;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 5px 0 5px 5px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.admin-filter-form-button {
    display: inline-block;
    margin-left: 30px;
}

.admin-filter-button {
    display: inline-block;
    padding: 7px 25px;
    background-color: #0A2558;;
}

.admin-table-container {
    margin: 40px 0;
}

.admin-table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.admin-table-container th {
    border-bottom: 1pt solid black;
    padding-bottom: 7px;
}

.admin-table-container td {
    padding: 10px 0;
    text-align: center;
}

.admin-editProduct-img {
    width: 100%;
    max-width: 50px;
    text-align: center;
    margin: auto;
}

.admin-table-container td a {
    text-decoration: underline;
}

.admin-table-button {
    font-size: 1em;
    padding: 5px 8px;
    background-color: #0A2558;
}

.admin-table-rows-desktop {
    display: none;
}


/* Desktop */
@media (min-width: 941px){

    /*
    *
    * Admin: Edit Filter by Category
    *        Products Page
    *
    */

    .admin-table-rows-mobile {
        display: none;
    }

    .admin-table-rows-desktop {
        display: table;
    }

    /*
    *
    * Admin: Create & Edit Product Page
    *
    */

    .admin-editProduct-container {
        width: 80%;
        border-radius: 10px;
        padding: 35px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .admin-editProduct-image {
        width: 40%;
        margin: auto;
        margin-left: 5%;
    }

    .admin-products-container {
        width: 55%;
    }
    
    .admin-products-field {
        max-width: 560px;
        width: 80%;
        margin: auto;
        position: relative;
    }
    
    .admin-products-label {
        display: inline-block;
        font-size: 1.2em;
        margin: 10px 0;
    }

    .admin-products-button {
        position: relative;
        background: linear-gradient(to right, rgb(40, 50, 80), rgb(40, 50, 80) 50%, rgb(80, 100, 140) 50%);
        background-size: 200% 100%;
        background-position: 100%;
        transition: all 275ms ease;
    }

    .admin-products-button:hover {
        background-position: 0 100%;
    }
}