* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Open Sans";
    text-decoration: none;
}


/*
* Section: index-baner
*/

.index-banner {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.index-banner-img {
    min-height: 60vh;
    width: 100%;
    margin-top: 130px;
    object-fit: cover;
}

.index-block {
    position: absolute;
    left: 20%;
    bottom: 10%;
    width: 100%;
    max-width: 60%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 25px;
}

.index-header, .index-maintext {
    color: #FFF;
    font-size: 1.2em;
}

.index-button {
    background-color: #FFF;
    color:rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    width: 110px;
}


/*
* Section: index-main
*/

.index-main {
    text-align: center;
    width: 85%;
    margin: auto;
    border-bottom: 1px solid rgb(0, 0, 0);
}


/*
* Section: index-benefits
*/

.index-benefits ul {
    width: 85%;
    margin: auto;
}

.index-benefits div {
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    margin: 40px 0;
}

.index-benefits li {
    margin: 20px 0;
}

.index-benefits i {
    font-size: 2em;
}


/*
* Section: index-categories
*/

.index-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f6f8fb;
    border-radius: 10px;
}

.index-categories h3 {
    margin: 5px 0;
}

.index-categories a {
    font-weight: 600;
    color: salmon;
}

.index-categories i {
    padding-left: 5px;
    color: salmon;
}

.index-categories-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f6f8fb;
    border-radius: 10px;
}

.index-categories-2 h3 {
    margin: 5px 0;
}

.index-categories-2 a {
    font-weight: 600;
    color: salmon;
}

.index-categories-2 i {
    padding-left: 5px;
    color: salmon;
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
    font-size: 30px;
}

.index-categories img {
    display: none;
}

.index-categories-2 img {
    display: none;
}


/*
* Section: index-products
*/

.index-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.index-products article {
    width: 45%;
    padding: 15px;
    display: block;
    position: relative;
}

.index-products .fa-heart {
    position: absolute;
    right: 40px;
    background-color: #ebeef2;
    padding: 7px;
    border-radius: 50%;
    color: #818285;
    font-size: 0.8em;
}

.index-products img {
    width: 100%;
    padding: 15px;
}

.index-products ul {
    margin: 20px 0;
    padding-bottom: 5px;
}

.product-type {
    color: #7d879c;
    font-size: 0.75em;
}

.product-name {
    color: #373f50;
    font-size: 0.85em;
    font-weight: 700;
    margin: 5px 0;
}

.product-price {
    color: #4e54c8;
    font-size: 16px;
    font-weight: 550;
    margin-top: 10px;
}


/* Tablets */
@media (min-width: 471px) {
    .index-block {
        bottom: 25%;
    }
}


/* Desktop */
@media (min-width: 941px){
    .index-banner-img {
        width: 100%;
        margin-top: 100px;
    }

    .index-benefits ul {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
    
    .index-benefits div {
        max-width: 400px;
    }

    .index-flex-categories-products {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .index-categories {
        width: 60%;
        padding-bottom: 60vh;
        position: relative;
    }

    .index-categories-2 {
        width: 60%;
        padding-bottom: 60vh;
        position: relative;
        order: 1;
    }

    .index-categories img {
        display: block;
        width: 80%;
        height: 65%;
        position: absolute;
        left: 10%;
        bottom: 12%;
        border-radius: 10px;
    }

    .index-categories-2 img {
        display: block;
        width: 80%;
        height: 65%;
        position: absolute;
        left: 10%;
        bottom: 12%;
        border-radius: 10px;
    }

    .index-products {
        width: 100%;
    }

    .index-products article {
        width: 30%;
    }
}



