* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Open Sans";
    text-decoration: none;
}


/*
* Section: index-baner
*/

.index-banner {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.index-banner-img {
    min-height: 60vh;
    width: 100%;
    margin-top: 130px;
    object-fit: cover;
}

.index-block {
    position: absolute;
    left: 20%;
    bottom: 10%;
    width: 100%;
    max-width: 60%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 25px;
}

.index-header, .index-maintext {
    color: #FFF;
    font-size: 1.2em;
}

.index-button {
    background-color: #FFF;
    color:rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    width: 110px;
    border-radius: 5px;
    transition: all 450ms;
}

.index-button:hover {
    background-color: rgb(80, 100, 140);
    color: #FFF;
}


/*
* Section: index-main
*/

.index-main {
    text-align: center;
    width: 85%;
    margin: auto;
    border-bottom: 1px solid rgb(0, 0, 0);
}


/*
* Section: index-benefits
*/

.index-benefits ul {
    width: 85%;
    margin: auto;
}

.index-benefits div {
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    margin: 40px 0;
}

.index-benefits li {
    margin: 20px 0;
}

.index-benefits i {
    font-size: 2em;
}


/*
* Section: index-categories
*/

.index-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f6f8fb;
    border-radius: 10px;
}

.index-categories h3 {
    margin: 5px 0;
}

.index-categories .index-link-categories {
    font-weight: 600;
    color: salmon;
    transition: all 450ms;
}

.index-categories i {
    padding-left: 5px;
    color: salmon;
    transition: all 450ms;
}

.index-categories a:hover, .index-categories a:hover i {
    color: rgb(80, 100, 140);
}

.index-categories-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f6f8fb;
    border-radius: 10px;
}

.index-categories-2 h3 {
    margin: 5px 0;
}

.index-categories-2 .index-link-categories {
    font-weight: 600;
    color: salmon;
    transition: all 450ms;
}

.index-categories-2 i {
    padding-left: 5px;
    color: salmon;
    transition: all 450ms;
}

.index-categories-2 a:hover, .index-categories-2 a:hover i {
    color: rgb(80, 100, 140);
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
    font-size: 30px;
}

.index-categories img {
    display: none;
}

.index-categories-2 img {
    display: none;
}


/*
* Section: index-products
*/

.index-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.index-products article {
    width: 45%;
    padding: 15px;
    display: block;
    position: relative;
}

.index-products .fa-heart {
    position: absolute;
    right: 40px;
    background-color: #ebeef2;
    padding: 7px;
    border-radius: 50%;
    color: #818285;
    font-size: 0.8em;
    transition: all 450ms;
}

.index-products .fa-heart:hover {
    color: salmon;
}

.index-products img {
    width: 100%;
    padding: 15px;
}

.index-products ul {
    margin: 20px 0;
    padding-bottom: 5px;
}

.product-type {
    color: #7d879c;
    font-size: 0.75em;
}

.product-name {
    color: #373f50;
    font-size: 0.85em;
    font-weight: 700;
    margin: 5px 0;
}

.product-price {
    color: #4e54c8;
    font-size: 16px;
    font-weight: 550;
    margin-top: 10px;
}


/*
* Section: index-background-img
*/

.index-background-img-mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../img/index-background-mobile.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    display: flex;
}

.index-background-img-mobile h3 {
    display: block;
    color: #FFF;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
}


/*
* Section: index-testimonials
*/

.index-testimonies {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.index-testimonies-conteiner div {
    width: 60%;
    margin: auto;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 90px;
    color: #FFF;
    background-color: #000;
    opacity: 0.6;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Tablets */
@media (min-width: 471px) {
    .index-block {
        bottom: 25%;
    }

    .index-background-img-mobile h3 {
        top: 40%;
    }
}


/* Desktop */
@media (min-width: 941px){
    .index-banner-img {
        width: 100%;
        margin-top: 100px;
    }

    .index-benefits ul {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
    
    .index-benefits div {
        max-width: 400px;
    }

    .index-flex-categories-products {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        width: 90%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 7%;
    }

    .index-categories {
        max-width: 400px;
        max-height: 650px;
        height: 100vh;
        padding-bottom: 70vh;
        margin-left: 2%;
        position: relative;
    }

    .index-categories-2 {
        max-width: 400px;
        max-height: 650px;
        height: 100vh;
        padding-bottom: 70vh;
        margin-right: 2%;
        position: relative;
        order: 1;
    }

    .index-categories img {
        display: block;
        width: 90%;
        height: 65%;
        position: absolute;
        left: 5%;
        bottom: 12%;
        border-radius: 10px;
    }
    
    .index-categories-2 img {
        display: block;
        width: 90%;
        height: 65%;
        position: absolute;
        left: 5%;
        bottom: 12%;
        border-radius: 10px;
    }

    .index-categories-img-overlay {
        display: block;
        width: 90%;
        height: 65%;
        position: absolute;
        left: 5%;
        bottom: 12%;
        border-radius: 10px;
        opacity: 0;
        transition: all 750ms;
    }
    
    .index-categories-img-overlay p {
        position: absolute;
        left: 40%;
        top: 50%;
        color: #FFFFFF;
        transition: all 950ms;
    }

    .index-categories-button {
        position: absolute;
        left: 36%;
        top: 80%;
        background-color: #FFF;
        color: #000;
        padding: 10px;
        display: inline-block;
        margin-top: 10px;
        width: 110px;
        border-radius: 5px;
        transition: all 950ms;
    }

    .index-categories-img-overlay:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .index-categories-img-overlay:hover p {
        transform: translateY(-550%);
    }

    .index-categories-img-overlay:hover .index-categories-button {
        transform: translateY(-400%);
    }

    .index-products {
        width: 60%;
        max-height: 650px;
    }

    .index-products article {
        width: 30%;
    }

    .index-background-img-desktop {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/index-background-desktop.jpg");
    }
}



