main p {
    margin: 20px 0;
}

a {
    color: rgb(0, 0, 0);
}

.category .category-imghover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: all 550ms;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
    font-size: 17px;
}

header {
    background-color: #FFF;
    border-bottom: rgb(100, 100, 100);
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 500;
}

.news {
    display: block;
    width: 100%;
    background-color: #050505;
    color: #fffefc;
    margin: auto;
    text-align: center;
}

.news p {
    padding: 7px;
    font-size: 14px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: rgb(100, 100, 100) solid 1px;
}

h1 {
    font-size: 20px;
}

.main-navbar {
    display: none;
}

.form-searchbar {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 8px;
}

.search-bar {
    position: relative;
    border: none;
    width: 100%;
    padding: 11px;
    border-radius: 7px;
    background-color: #f4f4f4;
}

.form-searchbar i {
    position: absolute;
    top: 14px;
    right: 35px;
    font-size: 15px;
    color:rgb(100, 100, 100);
}

.banner {
    width: 100%;
    margin: auto;
}

.categories-banner {
    width: 100%;
    margin-top: 140px;
}

.category-maintext {
    width: 90%;
    margin: auto;
}

.category-section {
    margin-top: 70px 0;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.category {
    margin: 25px 0;
    position: relative;
}

.category img {
    width: 100%;
}

.category-description {
    position: absolute;
    bottom: 4px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
    color: #FFF;
    font-size: 1.5em;
}


/*
*
*   
* Footer
*
*
*/

footer ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
}

footer ul section {
    width: 50%;
    color: #fffefc;
    background-color: #080808;
    border: 1.5px solid #fffefc;
    padding: 40px 0;
}

footer ul i {
    margin-bottom: 15px;
}

footer ul li {
    margin: 15px 0;
    font-size: 13px;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

.footer-media {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #080808;
    border: 1.5px solid #fffefc;
}

.footer-seo {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 13px;
    color: #fffefc;
    background-color: #080808;
    padding: 20px 0;
}

.footer-newsletter {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 3px;
}

.newsletter {
    border: none;
    width: 100%;
    padding: 5px;
    background-color: #f4f4f4;
}

.footer-button {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #080808;
    color: #fffefc;
    border: 1px solid #fffefc;
    margin: 10px 0;
    padding: 5px 0;
}

.footer-socialmedia {
    background-color: #080808;
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.footer-socialmedia i{
    width: 5px;
    color: #fffefc;
    padding: 20px 0;
}

.copyright {
    background-color: #080808;
    font-size: 13px;
    text-align: center;
    color: #fffefc;
    padding: 20px 0;
    border: 1.5px solid #fffefc;
}


/*
*
*   
* Login / Register pages
*
*
*/

.form-register, .form-login {
    width: 90%;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 200px;
}

.form-login h2, .form-register h2 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

.register-field, .login-field {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    width: 100%;
}

.controls {
    width: 100%;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}

.form-button {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.send-button {
    padding: 15px;
    font-size: 1.2em;
    border-radius: 15px;
    margin: 0 40px;
    border: none;
    background-color: #017bab;
    color: #FFF;
    transition: all 450ms;
}

.form-bottom {
    display: block;
    text-align: center;
    margin: 40px 0;
}

.send-button:hover {
    background-color: #0022AA;
}

.form-login a, .form-register a {
    color: #017bab;
}

.form-login a:hover, .form-register a:hover{
    text-decoration: underline;
}

/* Tablets */
@media (min-width: 471px) {
    .category-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: auto;
    }

    .category {
        width: 48%;
    }
}

/* Desktop */
@media (min-width: 941px){
    .form-register h2, .form-login h2 {
        width: 50%;
        margin: auto;
    }

    .register-field, .login-field {
        width: 50%;
        margin: auto;
    }

    .controls {
        margin: 20px 0;
    }
    
    .categories {
        text-align: center;
        font-size: 2em;
    }

    .category-section {
        padding-bottom: 40px;
    }

    .category {
        width: 23%;
        transition: all 550ms;
    }

    .category-description {
        background-color: rgba(100, 100, 100, 0.8);
        opacity: 0;
        transition: all 950ms;
    }

    .category:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .category:hover .category-description {
        opacity: 1;
    }

    .category:hover .category-imghover {
        opacity: 1;
    }

    footer {
        border: 1.5px solid #fffefc;
    }

    footer ul {
        padding-top: 80px;
    }
    
    footer ul section {
        width: 25%;
        border: none;
        border-bottom: 1.5px solid #fffefc;
    }
    
    footer ul li {
        max-width: 250px;
    }
    
    .footer-media {
        border: none;
    }
    
    .footer-newsletter {
        max-width: 500px;
    }
    
    .footer-socialmedia {
        padding: 0 30%;
    }
    
    .copyright {
        border: none;
    }
}