* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
    font-size: 17px;
}

header {
    background-color: #FFF;
    border-bottom: rgb(100, 100, 100);
    width: 100%;
    margin: auto;
    position: fixed;
}

.news {
    display: block;
    width: 100%;
    background-color: rgb(0,0,0);
    color: #FFF;
    margin: auto;
    text-align: center;
}

.news p {
    padding: 7px;
    font-size: 14px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: rgb(100, 100, 100) solid 1px;
}

h1 {
    font-size: 20px;
}

.main-navbar {
    display: none;
}

.form-searchbar {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 8px;
}

.search-bar {
    position: relative;
    border: none;
    width: 100%;
    padding: 11px;
    border-radius: 7px;
    background-color: #f4f4f4;
}

.form-searchbar i {
    position: absolute;
    top: 14px;
    right: 35px;
    font-size: 15px;
    color:rgb(100, 100, 100);
}

.h2-test {
    padding-top: 150px;
    display: block;
}

main p {
    margin: 20px 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
}

footer ul section {
    width: 50%;
    color: #ebe3d5;
    background-color: rgb(0, 0, 0);
    border: 1.5px solid #ebe3d5;
    padding: 40px 0;
}

footer ul i {
    margin-bottom: 15px;
}

footer ul li {
    margin: 15px 0;
    font-size: 13px;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

.footer-media {
    display: block;
    width: 100%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border: 1.5px solid #ebe3d5;
}

.footer-seo {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 13px;
    color: #ebe3d5;
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
}

.footer-newsletter {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 3px;
}

.newsletter {
    border: none;
    width: 100%;
    padding: 5px;
    background-color: #f4f4f4;
}

.footer-button {
    display: block;
    width: 100%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    color: #FFF;
    border: 1px solid #FFF;
    margin: 10px 0;
    padding: 2px 0;
}

.footer-socialmedia {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.footer-socialmedia i{
    width: 5px;
    color: #ebe3d5;
    padding: 20px 0;
}

.copyright {
    background-color: rgb(0, 0, 0);
    font-size: 13px;
    text-align: center;
    color: #ebe3d5;
    padding: 20px 0;
    border: 1.5px solid #ebe3d5;
}