/*
* Mobile First
*   Media Query: Cellphones
*   Media Queary: Tablet
*   Media Query: Desktop
*
* Structure of CSS:
*   Header
*   Footer
*   Login / Register
*   Cart
*   Main Page
*   Main Deals - Articles / Products
*/

.label-admin {
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;
    margin-top: 40px;
    font-size: 1.1em;
    font-weight: bold;
}

.admin-img {
    text-align: center;
    max-width: 220px;
}

main p {
    margin: 20px 0;
}

a {
    color: rgb(0, 0, 0);
}

.category .category-imghover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: all 550ms;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Open Sans";
}

body {
    font-size: 17px;
}


/*
*
*
* Media Query: cellphones
* Header
*
*
*/

header {
    background-color: #FFF;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 500;
}

.news {
    display: block;
    width: 100%;
    background-color: #050505;
    color: #fffefc;
    margin: auto;
    text-align: end;
}

.news p {
    padding: 7px;
    font-size: 14px;
    position: relative;
    animation: example 20s infinite;
    
}

@keyframes example {
    0% {
        right: 0;
    }
    100% {
      right: 100%;
    }
  }

.searchbar-desktop {
    display: none;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: rgb(100, 100, 100) solid 1px;
}

h1 {
    font-size: 20px;
}

.main-navbar {
    display: none;
}

.form-searchbar {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 8px;
    padding-bottom: 10px;
}

.search-bar {
    position: relative;
    border: none;
    width: 100%;
    padding: 11px;
    border-radius: 7px;
    background-color: #f4f4f4;
}

.form-searchbar i {
    position: absolute;
    top: 14px;
    right: 35px;
    font-size: 15px;
    color:rgb(100, 100, 100);
}


/*
*
*
* Media Query: cellphones
* Footer
*
*
*/

.footer-media {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #080808;
    border: 1.5px solid #fffefc;
}

.footer-seo {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 13px;
    color: #fffefc;
    background-color: #080808;
    padding: 20px 0;
}

.footer-newsletter {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 3px;
}

.newsletter {
    border: none;
    width: 100%;
    padding: 5px;
    background-color: #f4f4f4;
}

.footer-button {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #080808;
    color: #fffefc;
    border: 1px solid #fffefc;
    margin: 10px 0;
    padding: 5px 0;
}

.footer-socialmedia {
    background-color: #080808;
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.footer-socialmedia i{
    width: 5px;
    color: #fffefc;
    padding: 20px 0;
    transition: all 450ms;
}

.footer-socialmedia i:hover {
    transform: scale(2);
}

.copyright {
    background-color: #080808;
    font-size: 13px;
    text-align: center;
    color: #fffefc;
    padding: 20px 0;
    border: 1.5px solid #fffefc;
}


/*
*
*
* Media Query: cellphones
* Cart Page
*
*
*/

.main-cart {
    padding-top: 170px;
    width: 90%;
    margin: auto;
}

.empty-cart {
    display: inline-block;
    width: 100%;
    text-align: left;
    background-color: #017bab;
    color: #FFF;
    padding-left: 15px;
    padding: 8px 15px;
    border-radius: 5px;
}


/*
*
*
* Media Query: cellphones
* Home Page
*
*
*/

.category-section {
    margin-top: 70px 0;
}

.category {
    margin: 25px 0;
    position: relative;
}

.category img {
    width: 100%;
}

.category-description {
    position: absolute;
    bottom: 4px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
    color: #FFF;
    font-size: 1.5em;
}


/*
*
*
* Media Query: cellphones
* Main Deals - Articles / Products
*
*
*/

.deals-header {
    text-align: center;
    font-size: 2em;
    margin-top: 60px;
}

.deals, .shop {
    display: block;
    padding: 20px;
    text-align: center; 
}

.previous-price {
    text-decoration: line-through;
    display: inline;
}

.actual-price {
    font-size: 1.2em;
    display: inline-block;
}

.discount {
    color:limegreen;
    font-size: 1.3em;
}

.shipping-logo {
    color:lime;
    width: 5vw;
    font-size: 6vw; 
    border-color: lime;
    border-radius: 50px;
    width: 100%;
    font-size: 1.1em;
}



/* Tablets */
@media (min-width: 471px) {

    .category-section, .deals, .shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: auto;
    }

    .category {
        width: 48%;
    }

    .shop {
        width: 100%;
    }

    .dealproduct, .shop-product {
        margin: 10px 0;
        width: 48%;
    }

    .dealproduct ul, .shop-product {
        padding: 0;
        margin: 10px 0;
    }
    
    .dealproduct ul li, .shop-product ul li {
        margin: 5px 0;
    }
}

/* Desktop */
@media (min-width: 941px){

    /*
    *
    * 
    * Media Query: Desktop
    * Header
    *
    *
    */

    header {
        padding-top: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    
    .news {
        position: absolute;
        z-index: 250;
        top: 0;
    }
    
    .main-header {
        border-bottom: none;
        width: 85%;
        margin: auto;
    }
    
    .burger-menu {
        display: none;
    }

    .logo-conteiner {
        flex-grow: 0.20;
        order: -1;
    }

    .main-navbar  {
        display: block;
        flex-grow: 0.60;
    }

    .main-navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-navbar ul li {
        margin: 0 10px;
    }

    .searchbar-desktop {
        display: block;
    }

    .div-searchbar {
        display: none;
    }

    .login-register, .searchbar-desktop, .cart {
        margin: 0 5px;
    }


    /*
    *
    * 
    * Media Query: Desktop
    * Footer page
    *
    *
    */

    footer {
        border: 1.5px solid #fffefc;
    }

    footer ul {
        padding-top: 80px;
    }
    
    footer ul section {
        width: 25%;
        border: none;
        border-bottom: 1.5px solid #fffefc;
    }

    footer ul section i, footer ul section li {
        transition: all 450ms;
    }

    footer ul section:hover i, footer ul section:hover li {
        transform: scale(1.1);
        margin-top: 5px;
    }
    
    footer ul li {
        max-width: 250px;
    }
    
    .footer-media {
        border: none;
    }
    
    .footer-newsletter {
        max-width: 500px;
    }
    
    .footer-socialmedia {
        padding: 0 30%;
    }

    .footer-socialmedia i {
        width: 5px;
        color: #fffefc;
        padding: 20px 0;
        transition: all 450ms;
    }
    
    .footer-socialmedia i:hover {
        transform: scale(2);
    }

    .copyright {
        border: none;
    }


    /*
    *
    * 
    * Media Query: Desktop
    * Cart page
    *
    *
    */

    .main-cart {
        padding-top: 150px;
        width: 80%;
        margin: auto;
    }


    /*
    *
    * 
    * Media Query: Desktop
    * Categories / Articles
    *
    *
    */



    .categories {
        text-align: center;
        font-size: 2em;
    }

    .category-section {
        padding-bottom: 40px;
    }

    .category {
        width: 23%;
        transition: all 550ms;
    }

    .category-description {
        background-color: rgba(100, 100, 100, 0.8);
        opacity: 0;
        transition: all 950ms;
    }

    .category:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .category:hover .category-description {
        opacity: 1;
    }

    .category:hover .category-imghover {
        opacity: 1;
    }



    .dealproduct, .shop-product {
        width: 22%;
        transition: all 450ms;
    }

    .dealproduct:hover, .shop-product:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}