<tr>
    <td><%- user.id %> </td>
    <td><a href="/admin/edit-user/<%= user.id %>"><%- user.user %></a></td>
    <td class="admin-table-form-button">
         <form action="/admin/delete-user/<%- user.id %>?_method=DELETE" name="deleteform" method="POST">
            <button type="submit" class="admin-table-button">Eliminar</button>
        </form>
    </td>
</tr>