<div>
    <h3><%= category.name %></h3>
    <a class="index-link-categories" href="/shop">Ver Tienda<i
            class="fas fa-angle-right"></i></a>
</div>
<div>
    <img class="index-category-img-hover" src=<%=category.imageHover %> >
    <img class="index-category-img" src=<%=category.image %> >
</div>
<div>
    <i class="fas fa-chevron-circle-left"><i class="fas fa-chevron-circle-right"></i></i>
</div>