<footer>
    <ul type="none">
        <section class="free-shipping">
            <i class="fas fa-shipping-fast"></i>
            <li>ENVÍO GRATIS A TODO EL PAÍS</li>
        </section>

        <section class="contact-us">
            <i class="fas fa-envelope"></i>
            <li>CONTACTANOS</li>
        </section>

        <section class="befenefits">
            <i class="fas fa-smile-wink"></i>
            <li>BENEFICIOS DE COMPRAR ONLINE</li>
        </section>

        <section class="find-store">
            <i class="fas fa-map-marked-alt"></i>
            <li>ENCONTRÁ TU TIENDA</li>
        </section>
    </ul>

    <div class="footer-media">
        <section class="footer-seo">
            <p>VIVÍ LA EQUITACIÓN COMO UN VERDADERO JINETE</p>
        </section>

        <form action="/" method="GET" class="footer-newsletter">
            <input type="text" placeholder="Email" class="newsletter">
            <button type="submit" class="footer-button">Suscribirse</button>
        </form>

        <section class="footer-socialmedia">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
        </section>

    </div>
    <section class="copyright">
        <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
    </section>
</footer>