<article>
    <i class="far fa-heart"></i>
    <img src="<%= product.image %>">
    <ul type="none">
        <li class="product-type">
            <%= product.type %>
        </li>
        <li class="product-name">
            <%= product.name %>
        </li>
        <li class="product-price">
            <%= product.price %>
        </li>
    </ul>
</article>