<article>
    <div class="product-container">
        <i class="far fa-heart"></i>
        <img class="product-img" src="<%= test.image %>">
        <ul type="none">
            <li class="product-type">
                <%= test.type %>
            </li>
            <li class="product-name">
                <%= test.name %>
            </li>
            <li class="product-price">
                <%= test.price %>
            </li>
        </ul>
    </div>
    <div class="product-cart">
        <a class="product-button" href="/carrito">Añadir al Carrito</a>
        <a class="product-quickview" href="#"> <i class="far fa-eye"></i> Vista rápida</a>
    </div>
</article>