<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
    
    <main>
<section>
    <h1>
        Administrar Productos
    </h1>
<ul>
    <li><a href="/products/create"></a>Agregar nuevos productos</li>
    <li><a href="/products/edit"></a>Editar productos</li>
</ul>
</section>

<section>
    <h1>
        Administrar usuarios
    </h1>
<ul>
    <li><a href="/users/registro"></a>Agregar nuevos usuarios</li>
    <li><a href="/users/edit"></a>Editar usuarios</li>
</ul>
</section>


    </main>

        <%- include('../partials/footer') %>
</body>
</html>