<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

    
    <main>
        <form class="createProduct-form" action="/create-product" method="POST" enctype="multipart/form-data">
            <h2 class="createProduct-title">Agregar Nuevos Productos:</h2>

            <div class="createProduct-admin-field">
                <label class="createProduct-label-admin">Imágen del Producto:</label>
                <input class="createProduct-admin-img" type="file" name="image" >
                <span></span>
            </div>

            <div class="createProduct-admin-field">
                <input class="createProduct-admin" type="text" name="name" id="newProductName" placeholder="Nombre del producto">
                <span></span>
            </div>

            <div class="createProduct-admin-field">
                <input class="createProduct-admin" type="text" name="description" id="newProductDescription" placeholder="Descripción del producto">
                <span></span>
            </div>

            <div class="createProduct-admin-field">
                <label class="createProduct-label-admin" for="createProduct-label-admin">Categoría</label>
                <div class="createProduct-control">
                    <select name="category" id="category">
                        <option value="">Seleccione una opción</option>
                        <option value="Rider">Jinete</option>
                        <option value="horseCare">Cuidado del Caballo</option>
                        <option value="Veterinary">Veterinaria</option>
                        <option value="Accesories">Equipo y accesorios</option>
                    </select>
                </div>
            </div>

            <div class="createProduct-admin-field">
                    <label class="createProduct-label-admin" for="createProduct-label-admin">Talle</label>
                    <div class="createProduct-control">
                        <select name="size" id="size">
                            <option value="">Seleccione una opción</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
             </div>
    

            <div class="createProduct-admin-field">
                <input class="createProduct-admin" type="text" name="Price" id="newProductPrice" placeholder="Precio del Producto">
                <span></span>
            </div>

            <div class="createProduct-admin-field">
                <input class="createProduct-admin" type="text" name="keywords" id="keywords" placeholder="Palabras clave">
                <span></span>
            </div>

            <div class="createProduct-admin-field">
                <label class="createProduct-label-admin" for="createProduct-label-admin">En oferta</label>
                <div class="createProduct-admin-field-inSale">    
                <input class="field-inSale" type="radio" name="inSale" value="true">Si </input>   
                <br>   
                    <input class="field-inSale" type="radio" name="inSale" value="false">No </input>  
                </div>   
            </div>

            <div class="createProduct-admin-field">
                    <input class="createProduct-admin" type="text" name="discountPrice" id="discountPrice" placeholder="Precio en descuento">
                    <span></span>
             </div>            
                
            <div class="createProduct-admin-field">
                    <input class="createProduct-admin" type="text" name="discount" id="discount" placeholder="Porcentaje de descuento">
                    <span></span>
                </div>

            <div class="createProduct-form-button">
                <button type="submit" class="create-send-button">Enviar</button>
            </div>
        </form>


        <form class="createProduct-form" action="/admin/edit/0" method="GET">
            <h2 class="createProduct-title">Editar Productos:</h2>

            <div class="createProduct-form-button">
                <button type="submit" class="create-send-button">Ir</button>
            </div>
        </form>
    </main>

        <%- include('../partials/footer') %>
</body>
</html>