<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>
    
    <main>

        <h1 class="shop-header">Elige el producto a modificar</h1>
        
        <section class="index-products shop-products">
            <% products.forEach(product => { %>
                <%- include('../partials/editProduct', { product }) %>
            <% }); %>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>