<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <form class="form-login" action="/" method="GET">
            <h2>Iniciá Sesión:</h2>

            <div class="login-field">
                <input class="controls" type="text" name="Usuario" value="" placeholder="Usuario / Email">
                <span></span>
            </div>

            <div class="login-field">
                <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
                <span></span>
            </div>

            <div class="form-button">
                <button type="submit" class="send-button">Ingresar</button>
            </div>

            <div class="form-bottom">
                <p class="link"> ¿Olvidaste tu contraseña? Hace click <a href="#">aquí </a></p>
                <p class="link">¿Todavía no tenes cuenta? <a href="/users/registro">Registrarme </a></p>
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>