<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header') %>

        <main>
            <form class="form-register" action="/" method="GET">
                <h2>Registrate:</h2>

                <div class="register-field">
                    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
                    <span></span>
                </div>

                <div class="register-field">
                    <input class="controls" type="text" name="apellidos" id="apellidos"
                        placeholder="Ingrese su apellido">
                    <span></span>
                </div>

                <div class="register-field">
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
                    <span></span>
                </div>

                <div class="register-field">
                    <input class="controls" type="password" name="contraseña" id="contraseña"
                        placeholder="Ingrese su contraseña">
                    <span></span>
                </div>

                <div class="form-bottom">
                    <input type="checkbox" name="terms">
                    <label for="terms" class="link">Estoy de acuerdo con los<a href="#"> Términos y
                            condiciones</a></label>
                </div>

                <div class="form-button">
                    <button type="submit" class="send-button">Registrarme</button>
                </div>

                <div class="form-bottom">
                    <p class="link">¿Ya tenes cuenta? <a href="/users/ingreso">Ingresar</a></p>
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>