<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaNaDa</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9d8c9cbd5e.js" crossorigin="anonymous"></script>

    <link href="./CSS/stylehome.css" rel="stylesheet" />
    <link rel="stylesheet" href="./CSS/normalize.css">
</head>

<body class="bodysecciones">
    <header class ="mainheader">
        <img src="./img/Logo Manada 5.png" alt="logoManada" class = "logohome">
        <ul class="iconosmainheader">
            <li class="micuenta"> <i class="fas fa-user"></i> <a href="#"> Mi cuenta</a></li>
            <li class = "carrito"> <i class="fas fa-shopping-cart"></i> <a href="#">  Carrito</a></li>
            <li class= "productos"> <i class="fas fa-bars"></i><a href="#"> Productos </a></li>
         <!-- código de la página de referencia para el botón de menu
          <button aria-label="Menu" class="Menu_menu-button__1DSc- fixed z-30">
                <div class="flex flex-col justify-around h-full">
                <div class="Menu_menu-bar__3EKVZ w-1/2 bg-white transform origin-left rounded-sm" style="transform: rotate(45deg);">
                </div>
                <div class="Menu_menu-bar__3EKVZ bg-white transform center rounded-sm" style="transform: rotate(-45deg); width: 36px;">
                </div>
                <div class="Menu_menu-bar__3EKVZ w-1/2 bg-white transform origin-right rounded-sm" style="transform: rotate(45deg); margin-left: 15px;">
                </div>
                </div>
            </button>
        -->
        </ul>
        </header>

<main class="mainsecciones">
<Section class="seccinesproductos">
    <article class = "Jinete"> 
        <img src="./img/jinete.jpg" class ="imgjinete" >
        <h1 class = "titulosección"> Jinete </h1>
       <!--
imagen de fondo <img src="./img/montura.JPG" class ="imgproductoenoferta" > 
       --> 
        </article>
        <article class = "Equipoyaccesorios">
            <img src="./img/accesorios.jpg" class ="imgequipo" >
            <h1 class = "titulosección"> Equipo y accesorios </h1>
           <!--
    imagen de fondo <img src="./img/montura.JPG" class ="imgproductoenoferta" > 
           --> 
            </article>
            <article class = "Cuidadosdelcaballo">
                <img src="./img/cuidados.JPG" class ="imgcaballo" >
                <h1 class = "titulosección"> Cuidados del caballo </h1>
               <!--
        imagen de fondo <img src="./img/montura.JPG" class ="imgproductoenoferta" > 
               --> 
                </article>
                <article class = "Veterinaria">
                    <img src="./img/veterinario.JPG" class ="imgveterinaria" >
                    <h1 class = "titulosección"> Veterinaria </h1>
                   <!--
            imagen de fondo <img src="./img/montura.JPG" class ="imgproductoenoferta" > 
                   --> 
                    </article>
    </Section>
</main>

<header class ="mainheadersecciones">
    <ul class="iconosmainheader">
        <li class="micuenta"> <a href="#"> <i class="fas fa-user"></i> Mi cuenta</a></li>
        <li class = "carrito"> <a href="#"> <i class="fas fa-shopping-cart"></i> Carrito</a></li>
        <li class= "productos"> <a href="#"> <i class="fas fa-bars"></i> Productos </a></li>
     <!-- código de la página de referencia para el botón de menu
      <button aria-label="Menu" class="Menu_menu-button__1DSc- fixed z-30">
            <div class="flex flex-col justify-around h-full">
            <div class="Menu_menu-bar__3EKVZ w-1/2 bg-white transform origin-left rounded-sm" style="transform: rotate(45deg);">
            </div>
            <div class="Menu_menu-bar__3EKVZ bg-white transform center rounded-sm" style="transform: rotate(-45deg); width: 36px;">
            </div>
            <div class="Menu_menu-bar__3EKVZ w-1/2 bg-white transform origin-right rounded-sm" style="transform: rotate(45deg); margin-left: 15px;">
            </div>
            </div>
        </button>
    -->
    </ul>
    
    <img src="./img/Logo Manada 5.png" alt="logoManada" class = "logosecciones">
    <section class="redessecciones">
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fas fa-map-marker-alt"></i></a>  
    </section>
    </header>


<footer class="footersecciones">
    <section class="redes">
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fas fa-map-marker-alt"></i></a>  
    </section>
</footer>

</body>

</html>